* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  }

  h1,
  h2 {
    font-family:  'Fredoka One', cursive;
  }

p {
  padding: 20px 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2em 1em;
  }
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .container header {
      text-align: center;
  }

  header h1 {
      color: #E53472;
  }

  .cards .card {
      width: calc(100% / 3);
      height: 120px;
      padding: 20px 10px;
      float: left;
  }

  .content {
      background-color: #0F0E17;
      height: 100%;
      font-size: 13px;
      color: white;
  }

  .info{
    padding: 5px;
    height: 100%;
    overflow: auto;
  }

  img {
      height: 100%;
      float: left;
  }

  a {
      color: #26C0F4;
      text-decoration: none;
  }

  .info span {
      display: block;
  }